* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #34495e;
  color: #ecf0f1;
}

body, input, button{
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}