.card{
  width: 50%;
  padding: 24px;

  margin-bottom: 16px;
  background: #8e44ad;
  color: #ffffff;

  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card strong{
  font-size: 18px;
}